<h1>Your Favorites</h1>

<% if @favorites.any? %>
  <% @favorites.each do |favorite| %>
    <div class="favorite">
      <h2><%= favorite.organization.org_name %></h2>
      <p><%= favorite.organization.servicesSummary %></p>
    </div>
  <% end %>
<% else %>
  <p>No favorites yet!</p>
<% end %>
